version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: hackaton_postgres
    ports:
      - "5434:5432"
    environment:
      POSTGRES_DB: bill_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 1
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata:
